<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite">
    <parameter name = "browser" value = "*Chrome"/>

    <test name="Allure test" parallel="methods" thread-count="2">
        <classes>
            <class name="SmokeTests"/>
        </classes>
    </test>

    <!--<test name="Allure Cart">-->
    <!--<classes>-->
    <!--<class name="CartPage"/>-->
    <!--</classes>-->
    <!--</test>-->


</suite>